# Ignore .json files including json files in subdirectories
*.json
**/*.json

# Ignore .txt files including txt files in subdirectories
*.txt
**/*.txt

# Ignore .vscode folder
.vscode

# Ignore build folder
build